dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
stack.yaml.lock
report.cabal

IMC_Report/imc.cabal
report.log
report.out
report.pdf
report.toc
report.bbl
report.blg
report.fdb_latexmk
report.fls
report.synctex.gz
report.pdf
Presentation/presentation.log
Presentation/presentation.nav
Presentation/presentation.out
Presentation/presentation.snm
Presentation/presentation.toc
Presentation/presentation.vrb
Presentation/_minted-presentation/33A277187579EF80891B99F4359BB2E7DCE7AD6C809F3498A5E218A58EF53DD8.pygtex
Presentation/_minted-presentation/766D0D2D963667225A29CEFB092DF097DCE7AD6C809F3498A5E218A58EF53DD8.pygtex
Presentation/_minted-presentation/default-pyg-prefix.pygstyle
Presentation/_minted-presentation/default.pygstyle
Presentation/_minted-presentation/3F2AEB4DB24092C03F3DA43B6F1F94A1DCE7AD6C809F3498A5E218A58EF53DD8.pygtex
Presentation/_minted-presentation/9A8CF2EB3A90D1F6898BC8CDB2DD90FEDCE7AD6C809F3498A5E218A58EF53DD8.pygtex
Presentation/_minted-presentation/01486E421460264298D062A976250ED8DCE7AD6C809F3498A5E218A58EF53DD8.pygtex
Presentation/_minted-presentation/3270BFF9BB23579CCCBF1F6AEE254CB8DCE7AD6C809F3498A5E218A58EF53DD8.pygtex
Presentation/_minted-presentation/4811B078DB367FEE30742EAE251E4860DCE7AD6C809F3498A5E218A58EF53DD8.pygtex
Presentation/_minted-presentation/0259994EA7ABDCF6C6A23957F4A7FDCCDCE7AD6C809F3498A5E218A58EF53DD8.pygtex
Presentation/_minted-presentation/BA0C96133E7AEE3BC723DBBAFEBFCA95DCE7AD6C809F3498A5E218A58EF53DD8.pygtex
Presentation/_minted-presentation/DF15078C71A053DF865552964578B1A2DCE7AD6C809F3498A5E218A58EF53DD8.pygtex
Presentation/_minted-presentation/EDEA8C830F9248D3DB6ABBA2236DE533DCE7AD6C809F3498A5E218A58EF53DD8.pygtex
Presentation/_minted-presentation/F2F2F323C05CEAF11C2CE0B2667172B6DCE7AD6C809F3498A5E218A58EF53DD8.pygtex
Presentation/_minted-presentation/527C2E5E721C2F7DF9DB8E6997523744DCE7AD6C809F3498A5E218A58EF53DD8.pygtex
